<h1>This is the secret page</h1>
<p>You found me</p>

<img src="https://s-media-cache-ak0.pinimg.com/564x/df/eb/8d/dfeb8d1591bb3f07a8c95c820c0b67d3.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>